<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gemrun.base.module.declare.dal.mapper.DeclareMapper">

    <resultMap id="BaseResultMap" type="cn.gemrun.base.module.declare.dal.DeclareDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap" parameterType="long">
        SELECT id, title, status
        FROM declare
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="cn.gemrun.base.module.declare.dal.DeclareDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO declare (title, status)
        VALUES (#{title}, #{status})
    </insert>
</mapper>

