<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gemrun.base.module.declare.dal.mysql.filing.FilingMapper">

    <!-- 查询当天最大的备案编号 -->
    <select id="selectMaxFilingCode" resultType="java.lang.String">
        SELECT MAX(filing_code)
        FROM declare_filing
        WHERE filing_code LIKE #{likePattern}
          AND deleted = 0
    </select>

</mapper>
